<!DOCTYPE html>
<html>
<head>
    <title>Kiln Temperature Monitor</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
</head>
<body>
    <h2>Kiln Temperature</h2>
<canvas id="tempChart" width="800" height="400"></canvas>

<!-- Include Chart.js and your script -->
<script src="{{ url_for('static', filename='js/graph.js') }}"></script>

</body>
</html>
